h1 { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    color: black;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 3000;
    font-size: 20px;
}
p, ol {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: inline-block;
}